doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel="stylesheet", href="patients-style-dist.css" type="text/css")
	body
		section#navbar.row
			img(src="img/arrow-navbar.png")#arrow.align-self-center
			img(src="img/not-real-logo.png")#logo.align-self-center
			img(src="img/not-real-man-navbar.png")#men.align-self-center
			p#navbar-text.text-secondary.align-self-center Patients - list
		section#patinets
			div#patient.row.justify-content-center
				a(href="#")#patient-link.col-11
					div#patient-body.row
						img(src="img/not-real-profile-picture.png")#pratient-picture.col-1
						p#patient-name.align-self-center Yuval Goldschmidt
			div#patient.row.justify-content-center
				a(href="#")#patient-link.col-11
					div#patient-body.row
						img(src="img/not-real-profile-picture.png")#pratient-picture.col-1
						p#patient-name.align-self-center Yuval Goldschmidt
			div#patient.row.justify-content-center
				a(href="#")#patient-link.col-11
					div#patient-body.row
						img(src="img/not-real-profile-picture.png")#pratient-picture.col-1
						p#patient-name.align-self-center Yuval Goldschmidt