doctype html
html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel="stylesheet", href="sidebar-style-dist.css" type="text/css")
	body
		section#sidebar
			a(href="#")#sidebar-link
				div#sidebar-stop-div
					img(src="img/stop_program.png")#sidebar-stop-img
			a(href="#")#sidebar-link
				div#sidebar-div
					img(src="img/sidebar_program_off.png")#sidebar-link-img
					p#sidebar-link-text Program
			a(href="#")#sidebar-link
				div#sidebar-div
					img(src="img/sidebar_charts_off.png")#sidebar-link-img
					p#sidebar-link-text Charts
			a(href="#")#sidebar-link
				div#sidebar-div
					img(src="img/sidebar_sound_off.png")#sidebar-link-img
					p#sidebar-link-text Sound Control
			a(href="#")#sidebar-link
				div#sidebar-div
					img(src="img/sidebar_info_off.png")#sidebar-link-img
					p#sidebar-link-text Patient Info